<app-navbar></app-navbar>
<div class="container">
  <mat-card>
    <form>
      <div class="form-group">
        <label for=url class="cols-sm-2 control-label">Webhook Url</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-link fa" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" name="webhook" id="webhook" placeholder="Enter webhook url" [(ngModel)]="webhookurl"  required (change)="saveWebhookUrl($event)"/>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>